body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: #fafafa;
}

/* Industries Start */
.indu-title,
.lead-title {
  color: #000000;
  text-align: center;
  font-family: brandon-grot-w01-light;
  font-size: 60px;
  font-weight: 600;
  line-height: 60.5px;
  letter-spacing: 3.3px;
  vertical-align: baseline;
  font-style: normal;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.box {
  font-size: 24px;
  font-weight: 700;
  font-family: lulo-clean-w01-one-bold, lulo-clean-w05-one-bold, sans-serif;
  vertical-align: baseline;
  font-style: normal;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  border: #f2f2f2 4px solid;
  border-width: 0.5em;
  background-color: #ffffff;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
}

/* Leadeships Start */

#section-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

img {
  max-width: 100%;
  padding: 2em 0;
}

#overviews {
  text-align: center;
}

#section-lead a img {
  align-items: center;
}

.link a > i {
  align-items: center;
  justify-content: center;
  margin: 1em auto 1em 5em;
}

.link i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: larger;
  font-weight: bold;
  padding: 1em;
}

.link a:hover i {
  background-color: rgb(25, 121, 201);
  color: rgb(65, 4, 4);
}
.content-details {
  text-align: center;
  margin-bottom: 2em;
}

.borderline {
  border-bottom: 4px solid grey;
  border-style: dashed;
  width: 100%;
}
@media all and (min-width: 990px) {
  .nested {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(80px, auto);
    margin-bottom: 6em;
    margin-right: 1em;
  }
  #section-lead {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(200px, auto);
  }
  .left-wrapper {
    float: left;

    margin-left: 10em;
  }

  .content-details {
    margin-top: 1em;
    float: left;
    margin-left: 10em;
  }

  .borderline {
    margin-left: 25em;
    align-self: flex-end;
  }
}
